name: CI

on:
  push:
    branches:
      - master
  pull_request:

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/renovatebot/renovate:latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - run: renovate-config-validator --strict default.json renovate.json

  zizmor:
    name: zizmor
    uses: bitcart/bitcart-actions/.github/workflows/zizmor-audit.yml@master
    permissions:
      security-events: write
