name: renovate-config-validator

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@v2.0.0
        with:
          node-version: "none"
          config_file_path: |
            default.json
            renovate.json
